{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/gridbackground.css' %}">
	<title>ft_transcendence</title>
</head>

<body>
<header>
	<h1 id="welcome">WELCOME TO TRANSCENDENCE</h1>
</header>
<div class="login-page">
	<div class="form">
	   <form class="login-form" id="loginForm">
		  <input type="text" id="usernameInput" placeholder="username" />
		  <input type="password" id="passwordInput" placeholder="password" />
		  <button type="button" id="loginButton"><b>LOGIN</b></button>
		  <p class="message" id="errorMessage"></p>
	   </form>
	</div>
 </div>

 <!-- grid arcade -->
 <div id="hey"><div id="layer-up"></div></div>
 <div id="layer-0">

	 <div id="layer-1">
		 <div id="layer-2">
			 <div id="lines">
				 <div id="layer-corner"></div>
			 </div>
		 </div>
	 </div>
 </div>

 <div id="mtnZZZ"></div>



<!-- Script -->
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>

</html>