body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

canvas {
  margin-top: 5%;
  border: 1px solid #fff;
}

#scoreboard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 800px;
  background-color: #333;
  color: white;
  padding: 10px 0;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-name {
  font-size: 18px;
}

.player-score {
  font-size: 24px;
  font-weight: bold;
}

#powerups {
  display: flex;
  width: 700px;
  justify-content: space-between;
  align-items: center;
  margin-top: 1%;
}

.powerupGroup {
  display:flex;
  align-items: center;
  padding: 2px;
}
.powerup {
  width: 20px;
  height: 20px;
  background-color: #3498db;
  margin-top: 5px;
  margin-right: 5px;
}

#timer {
  font-size: 18px;
}

#controls {
  margin-top: 20px;
  text-align: center;
  width: 600px;
  background-color: #e6e6e6;
}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
}


