body {
  margin: 0 auto;
  background: #ccc;
  text-align: center;
}

#canvas {
  background: linear-gradient(45deg, #222, #444);
  margin-top: 50px;
}

#points {
  background: linear-gradient(#222, #111);
  width: 30%;
  min-width: 300px;
  max-width: 680px;
  color: white;
  font-family: calibri light;
  margin: 0 auto;
  font-size: 50px;
  padding: 5px;
  border-radius: 2px;
}

#controls {
  background: rgba(0, 0, 0, 0.2);
  width: 30%;
  min-width: 300px;
  max-width: 680px;
  margin: 0 auto;
  padding: 5px;
  font-family: calibri;
}