{% include 'messages.html' %}

<form method="post" action="edit_profile/" onsubmit="fetchHTMLForm('main', event)">
    {% csrf_token %}
    <ul>
        <li>
            <label>Username:</label>
            <input type="text" name="username" placeholder="username" value="{{ username }}" />
        </li>
        {% if not user.email_verified %}
        <li>
            <label>Email:</label>
            <input type="email" name="email" placeholder="email" value="{{ email }}" />
        </li>
        {% endif %}
    </ul>
    <button type="submit">Save</button>
</form>

<button onclick="fetchHTML('main', 'profile/')">Back to profile</button>
