<h1 class="welcome">Welcome to transcendence</h1>
<form class="auth-form" method="post" action="user/login/" onsubmit="fetchHTMLForm('main', event)">
    {% csrf_token %}
    {% if error %}
    <span class="auth-error">{{ error }}</span>
    {% endif %}

    <input class="auth-input" type="text" name="username" placeholder="username" value="{{ username }}" />
    <input class="auth-input" type="password" name="password" placeholder="password" value="{{ password }}" />
    <button class="auth-button" type="submit">Login</button>

    <span class="auth-msg">Don't have an account?
        <a class="auth-anchor" onclick="fetchHTML('main', 'user/register/')">Register</a>
    </span>
</form>
<!-- grid arcade -->
<div class="grid-bg-container">
    <div class="grid-bg"></div>
</div>
<div class="grid-layer0">
    <div class="grid-layer1">
        <div class="grid-layer2">
            <div class="grid-lines">
                <div class="grid-light"></div>
            </div>
        </div>
    </div>
</div>
