<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="gridbackground.css">
	<title>ft_transcendence</title>
</head>

<body>
<header>
	<h1 id="logo">WELCOME TO TRANSCENDENCE</h1>
</header>
<div class="login-page">
	<div class="form">
	   <form class="login-form" id="loginForm">
		  <input type="text" id="usernameInput" placeholder="username" />
		  <input type="password" id="passwordInput" placeholder="password" />
		  <button type="button" id="loginButton"><b>LOGIN</b></button>
		  <p class="message" id="errorMessage"></p>
	   </form>
	</div>
 </div>
 
 <!-- grid arcade -->
 <div id="hey"><div id="layer-up"></div></div>
 <div id="layer-0">
	 
	 <div id="layer-1">
		 <div id="layer-2">
			 <div id="lines">
				 <div id="layer-corner"></div>
			 </div>
		 </div>
	 </div>
 </div>
 
 <div id="mtnZZZ"></div>
 


<!-- Script -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript" src="script.js"></script>
</body>

</html>