<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>ft_transcendence</title>
</head>

<body>
    <body class="loading-page">
        <div class="loading">
            <h2>MatchMaking</h2>
            <div class="bounce-ball"></div>
            <p id="clock">00:00</p>
        </div>
    </body>



<!-- Script -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript" src="script.js"></script>
</body>

</html>