<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="gridbackground.css">
	<title>ft_transcendence</title>
</head>

<body>

<div class="player-bar">
    <div class="player-info">
        <div class="profile-picture">
            <!-- Adicionar foto do jogador -->
        </div>
        <div class="profile-name">
            <h3>Nome do Jogador</h3>
        </div>
    </div>
    <div class="profile-stats">
        <div>
            <h4>Rating</h4>
            <p>99999</p>
        </div>
        <div>
            <h4>Maior Score</h4>
            <p>999999</p>
        </div>
    </div>
    <div class="character-selection">
        <label for="characterSelect"><b>Escolha sua cor</b></label>
        <div class="color-options">
            <div class="color-option" style="background-color: #FF5733;"></div>
            <div class="color-option" style="background-color: #3498db;"></div>
            <div class="color-option" style="background-color: #2ecc71;"></div>
            <div class="color-option" style="background-color: #e74c3c;"></div>
            <div class="color-option" style="background-color: #f39c12;"></div>
        </div>
    </div>
</div>
<section class="game-menu"> 
    <a href="loadscreen.html" class="button button-newgame">Novo Jogo</a>
    <a href="loadscreen.html" class="button button-settings">Ranked</a>
    <a href="leaderboard.html" class="button button-leaderboard">Leaderboard</a>
    <a href="/django/templates/game/game.html" class="button button-leaderboard">JOGO</a>
</section>
    

 <!-- grid arcade -->
 <div class="background-container">
    <!-- Seu conteúdo aqui -->
  </div>
 <div id="hey"><div id="layer-up"></div></div>
 <div id="layer-0">
	 
	 <div id="layer-1">
		 <div id="layer-2">
			 <div id="lines">
				 <div id="layer-corner"></div>
			 </div>
		 </div>
	 </div>
 </div>

<!-- Script -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript" src="script.js"></script>
</body>

</html>