    {% for message in chat.messages.all %}
      {% if message.sender == chat.starter %}
      <p class="messageSelf">{{ message.content }}</p>
      {% else %}
      <p class="messageOthers">{{ message.content }}</p>
      {% endif %}
    {% endfor %}
  <form class="chatform" method="post" onsubmit="messageSocket.sendMessage(event)">
    {% csrf_token %}
    <input type="text" name="content" id="content" class="chat-input placeholder="Digite sua mensagem" required />
    <input type="hidden" name="url" value="{% url 'chatRoom' id=chat.id %}" />
    <button type="submit" class="input-button">Send</button>
  </form>
