<!doctype html>

<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'chat/css/chat.css' %}">
</head>

<body>
  {% if user.is_authenticated %}
  <div class="chatTotal">
    <!-- chat será renderizado nessa div -->
    <div id="chats-rendered-data" class="chatSpace"></div>
    <div class="chatList">
      <h2>Chats ativos</h2>
      <ul class="chatList-ul">
        {% for chat in user.get_chats %}
        {% if user == chat.starter %}
        <button id="{{ chat.id }}" onclick="render('{% url 'chatRoom' id=chat.id %}')"> {{chat.receiver.username}}</button>
        {% else %}
        <button onclick="render('{% url 'chatRoom' id=chat.id %}')"> {{ chat.starter.username}} </button>
        {% endif %} {% endfor %}
      </ul>
      <button class="startChatBtn" onclick="render('{% url 'startChat' %}')">start new chat</button>
    </div>
    <!-- <button onclick="render('{% url 'chatList' %}')">My chats</button> -->
  </div>
  <!-- Caso usuário não esteja logado -->
  {% else %}
  <p>Welcome, new user. Please <a href="/">Login</a></p>
  {% endif %}
  <!-- Daqui para baixo, javascript -->
  {% load static %}
  <script src="{% static 'user/js/statusWebSocket.js' %}"></script>
  {% load static %}
  <script src="{% static 'chat/js/messageWebSocket.js' %}"></script>
  <script>
    let messageSocket;
    window.addEventListener("popstate", handlePopState);
    history.replaceState(
      { view: "{% url 'chatIndex' %}" },
      "",
      "{% url 'chatIndex' %}",
    );

    async function handlePopState(event) {
      await render(event.state?.view, false, true);
    }

    function handleForm(event) {
      event.preventDefault();
      const form = event.target;
      const data = new FormData(form);
      const url = data.get("url");
      fetch(url, {
        method: form.method,
        body: data,
      })
        .then((response) => response.text())
        .then((data) => {
          document.getElementById("chats-rendered-data").innerHTML = data;
        });
    }

    async function render(url) {
      if (url == window.location.pathname && !isPopState) return;
      url = get_url(url);
      const html = await get_html(url);
      document.getElementById("chats-rendered-data").innerHTML = html;
      if (setPushState) {
        history.pushState({ view: url }, "", url);
      }
      handleSockets(url);
    }

    function handleSockets(url) {
      if (url == "{% url 'friendList' %}") {
        statusSocket.setInitialStatus();
      } else if (url.includes("/chat/room")) {
        const regex = /\/chat\/room\/(?<id>\d+)\//;
        const match = url.match(regex);
        messageSocket = new MessageWebSocket(match.groups.id);
      }
      if (messageSocket && messageSocket.socket.readyState === WebSocket.OPEN) {
        messageSocket.socket.close();
      }
    }

    async function get_html(url) {
      response = await fetch(url);
      html = await response.text();
      return html;
    }

    function get_url(url) {
      if (url == "{% url 'friendsIndex' %}") {
        url = "{% url 'friendList' %}";
      } else if (url == "{% url 'chatIndex' %}") {
        url = "{% url 'chatList' %}";
      }
      return url;
    }
  </script>
</body>