<!doctype html>
<head>
  <style>
    .menuDiv {
      display: flex;
      justify-content: center;
      gap: 5px;
    }
    .verticalDiv {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  </style>
</head>
<body>
  {% if user.is_authenticated %}
  <div id="chats-menu" class="verticalDiv">
    <button onclick="render('{% url 'startChat' %}')">start new chat</button>
    <button onclick="render('{% url 'chatList' %}')">My chats</button>
  </div>
  <div id="chats-rendered-data"></div>
  {% else %}
  <p>Welcome, new user. Please <a href="/">Login</a></p>
  {% endif %}
  <script>
    window.addEventListener("popstate", handlePopState);
    history.replaceState(
      { view: "{% url 'chatIndex' %}" },
      "",
      "{% url 'chatIndex' %}",
    );
    // render("{% url 'friendList' %}", false);

    async function handlePopState(event) {
      await render(event.state?.view, false, true);
    }

    function handleForm(event) {
      event.preventDefault();

      const form = event.target;
      const data = new FormData(form);
      const url = data.get("url");
      fetch(url, {
        method: form.method,
        body: data,
      })
        .then((response) => response.text())
        .then((data) => {
          document.getElementById("chat-rendered-data").innerHTML = data;
        });
    }

    async function render(url, setPushState = true, isPopState = false) {
      if (url == window.location.pathname && !isPopState) return;
      url = get_url(url);
      fetch(url)
        .then((response) => response.text())
        .then((data) => {
          document.getElementById("chats-rendered-data").innerHTML = data;
          if (setPushState) {
            history.pushState({ view: url }, "", url);
          }
          if (url == "{% url 'friendList' %}") {
            statusSocket.setInitialStatus();
          }
        });
    }

    function get_url(url) {
      if (url == "{% url 'friendsIndex' %}") {
        url = "{% url 'friendList' %}";
      }
      return url;
    }
  </script>
</body>
