<!doctype html>
<head>
  <style>
    .verticalButtons {
      display: flex;
    }
  </style>
</head>
<body>
  {% if user.is_authenticated %}
  <div id="friends-menu" class="verticalButtons">
    <button onclick="renderSentFriendInvites()">Invites Sent</button>
    <button onclick="renderReceivedFriendInvites()">Invites Received</button>
    <button onclick="renderSendFriendInvites()">Add friends</button>
  </div>
  <div id="friends-rendered-data"></div>

  {% else %}
  <p>Welcome, new user. Please <a href="/">Login</a></p>
  {% endif %}
</body>

<script>
  // FRIENDS RELATED FUNCTIONS FOR THE SPA \\

  function renderSentFriendInvites() {
    fetch("{% url 'friendInvitesSent' %}")
      .then((response) => response.text())
      .then((html) => {
        const container = document.getElementById("friends-rendered-data");
        container.innerHTML = html;
      });
  }

  function renderReceivedFriendInvites() {
    fetch("{% url 'friendInvitesReceived' %}")
      .then((response) => response.text())
      .then((html) => {
        const container = document.getElementById("friends-rendered-data");
        container.innerHTML = html;
      });
  }

  function renderSendFriendInvites() {
    fetch("{% url 'sendFriendInvites' %}")
      .then((response) => response.text())
      .then((html) => {
        const container = document.getElementById("friends-rendered-data");
        container.innerHTML = html;
      });
  }

  // END \\
</script>
