<!doctype html>
{% if user.is_authenticated %}
<body>
  <div>
    <h2>Send Invite</h2>
    <form method="post" action="{% url 'sendInvite' %}">
      {% csrf_token %}
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" required />
      <button type="submit">Submit</button>
    </form>
    <h2>Invites Received</h2>
    <ul id="InvitesReceived">
      {% for invite in user.friend_invites_received.all%}
      <li>
        {{ invite.sender }}
        <form method="POST" action="{% url 'respondInvite' invite.id %}">
          {% csrf_token %}
          <button type="submit">Accept request</button>
          <input type="hidden" name="action" value="accept" />
        </form>
        <form method="POST" action="{% url 'respondInvite' invite.id %}">
          {% csrf_token %}
          <button type="submit">Reject request</button>
          <input type="hidden" name="action" value="reject" />
        </form>
        {% endfor %}
      </li>
    </ul>
  </div>
  {% else %}
  <p>Welcome, new user. Please <a href="/">Login</a></p>
  {% endif %}
</body>
