{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/gridbackground.css' %}">
	<title>ft_transcendence</title>
</head>

<body>
<header>
</header>
<div class="login-page">
	<div class="form">
	   <form class="login-form" id="loginForm">
		<p class="instruction">Escolha um usuário e senha</p>
		  <input type="text" id="usernameFormInput" placeholder="usuário" />
		  <input type="password" id="passwordFormInput" placeholder="senha" />
		  <input type="password" id="passwordConfirmInput" placeholder="re-escreva a senha" />
		  <button type="button" id="formUploadButton"><b>CADASTRAR</b></button>
		  <p class="message" id="errorFormMessage"></p>
	   </form>
	</div>
 </div>

 
 <!-- grid arcade
 <div id="hey"><div id="layer-up"></div></div>
 <div id="layer-0">

	 <div id="layer-1">
		 <div id="layer-2">
			 <div id="lines">
				 <div id="layer-corner"></div>
			 </div>
		 </div>
	 </div>
 </div>

 <div id="mtnZZZ"></div> -->



<!-- Script -->
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>

</html>