{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/gameStyle.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/gridbackground.css' %}">
	<title>ft_transcendence</title>
</head>

<body>

	<div id="scoreboard">
		<div class="player" id="player1">
		  <span class="player-name">Jogador 1</span>
		  <span class="player-score" id="player1-score">0</span>
		</div>
		<div id="timer">00:00</div>
		<div class="player" id="player2">
		  <span class="player-name">Jogador 2</span>
		  <span class="player-score" id="player2-score">0</span>
		</div>
	  </div>

	  <canvas id="canvas"></canvas>

	  <div id="powerups">
		<div class="powerupGroup">
			<div class="powerup" id="powerup1"></div>
			<div class="powerup" id="powerup2"></div>
			<div class="powerup" id="powerup3"></div>
			<div class="powerup" id="powerup4"></div>
			<div class="powerup" id="powerup5"></div>
		</div>
		<div class="powerupGroup">
			<div class="powerup" id="powerup1"></div>
			<div class="powerup" id="powerup2"></div>
			<div class="powerup" id="powerup3"></div>
			<div class="powerup" id="powerup4"></div>
			<div class="powerup" id="powerup5"></div>
			</div>
	  </div>

	  <div id="controls">
		<h3>Controles</h3>
		<p>Player 1: ↑ (cima), ↓ (baixo), Espaço (usa especial)</p>
		<p>Player 2: W (cima), S (baixo), Sei lá (usa especial)</p>
	  </div>
	  

<!-- Script -->
<script type="text/javascript" src="{% static 'js/game-script.js' %}"></script>
</body>

</html>