{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>Seu Título Aqui</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
	<canvas id="canvas"></canvas>
	<div id="points"><span id="player_1"></span> : <span id="player_2"></span></div>
	<div id="time"></div>
	<div id="controls">
		Controls<br />
		left player: W - up, S - down<br />
		right player: &uarr; - up, &darr; - down
	</div>
	<script type="text/javascript" src="{% static 'script/script.js' %}"></script>
</body>

</html>