<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/gridbackground.css">
	<title>ft_transcendence</title>
</head>

<body>
    <div class="leaderboard">
        <h2>Leaderboard</h2>
        <ol>
            <li>
                <span class="name">Cadete 1</span>
                <span class="percent">99999</span>
            </li>
            <li>
                <span class="name">Cadete 1</span>
                <span class="percent">99999</span>
            </li>
            <li>
                <span class="name">Cadete 1</span>
                <span class="percent">99999</span>
            </li>
            <li>
                <span class="name">Cadete 1</span>
                <span class="percent">99999</span>
            </li>
            <li>
                <span class="name">Cadete 1</span>
                <span class="percent">99999</span>
            </li>
            <li>
                <span class="name">Cadete 1</span>
                <span class="percent">99999</span>
            </li>
        </ol>
    </div>

<div class="back-button">
    <a href="menu.html">Voltar</a>
</div>

<!-- Script -->
<script type="text/javascript" src="js/script.js"></script>
</body>

</html>