{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/gridbackground.css' %}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>ft_transcendence</title>
</head>

<body>

<div class="player-bar">
    <div class="player-info">
        <div class="profile-picture">
            <!-- Adicionar foto do jogador -->
        </div>
        <div class="profile-name">
            <h3>Nome do Jogador</h3>
        </div>
    </div>
    <div class="profile-stats">
        <div>
            <h4>Rating</h4>
            <p>99999</p>
        </div>
        <div>
            <h4>Maior Score</h4>
            <p>999999</p>
        </div>
    </div>
    <div class="character-selection">
        <label for="characterSelect"><b>Escolha sua cor</b></label>
        <div class="color-options">
            <div class="color-option" style="background-color: #FF5733;"></div>
            <div class="color-option" style="background-color: #3498db;"></div>
            <div class="color-option" style="background-color: #2ecc71;"></div>
            <div class="color-option" style="background-color: #e74c3c;"></div>
            <div class="color-option" style="background-color: #f39c12;"></div>
        </div>
    </div>
</div>
<section class="game-menu">
    <a href="{% url 'loadscreen' %}" class="button button-newgame">Novo Jogo</a>
    <a href="{% url 'loadscreen' %}" class="button button-settings">Ranked</a>
    <a href="{% url 'leaderboard' %}" class="button button-leaderboard">Leaderboard</a>
    <a href="{% url 'game' %}" class="button button-leaderboard">JOGO</a>
</section>

 <!-- grid chat -->
 <section id="chatBubble">
    <section id="chatContent">
        <section class="chatMessages">
        <div class="messageSelf">QUER DROGA?</div>
        <div class="messageOthers">
            <span class="messageSender">Daniel</span>
            Diga não as drogas.
        </div>
        </section>
        <form class="chat">
            <input type="text" class="chat-input" placeholder="Digite sua mensagem" required />
            <button type="submit" class="input-button">
                <span class="material-symbols-outlined">send</span>
            </button>
        </form>
    </section>
    <button id="expandButton"></button>
 </section>

 <!-- grid arcade -->
 <div class="background-container">
    <!-- Seu conteúdo aqui -->
  </div>
 <div id="hey"><div id="layer-up"></div></div>
 <div id="layer-0">
	 <div id="layer-1">
		 <div id="layer-2">
			 <div id="lines">
				 <div id="layer-corner"></div>
			 </div>
		 </div>
	 </div>
 </div>

<!-- Script -->
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>

</html>