body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 50px rgba(222, 11, 241, 0.521);
  }
  50% {
    box-shadow: 0 0 80px rgb(222, 11, 241);
  }
  100% {
    box-shadow: 0 0 50px rgba(222, 11, 241, 0.521);
  }
}

canvas {
  margin-top: 5%;
  border: 1px solid #fff;
  border-radius: 10px;
  animation: pulse 10s infinite;
  border: #34d0db;
}

/* scoreboard */
#scoreboard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 800px;
  background-color: #333;
  color: white;
  padding: 20px 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-name {
  font-size: 18px;
}

.player-score {
  font-size: 24px;
  font-weight: bold;
}


/* powerup */
#powerups {
  display: flex;
  width: 700px;
  justify-content: space-between;
  align-items: center;
  margin-top: 1%;
}

.powerupGroup {
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 180px;
  height: 35px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 0px 100px rgba(5, 206, 206, 0.3);
}
.powerup {
  width: 20px;
  height: 20px;
  background-color: #fff;
  margin-top: 5px;
  margin-right: 5px;
}

#timer {
  font-size: 18px;
}


/* control */
#controls {
  margin-top: 20px;
  text-align: center;
  width: 600px;
  background-color: #333;
  color: #fff;
  border-radius: 15px;
}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
}


