@import url(https://fonts.googleapis.com/css?family=Roboto:300);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	transition: all 0.4s ease;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

/* Header  */
header {
	align-items: center;
	display: flex;
	margin: 2em;
  margin-top: 5%;
  text-align: center;
  }

#logo,
nav {
  flex: 1;
}

nav ul {
	display: flex;
	justify-content: space-around;
  }
nav li {
	list-style: none;
}


/* Login */
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #000; /* Cores gradientes retro arcade */
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0px 0px 64px 23px rgba(43,173,162,0.48);
  border-radius: 10px; /* Cantos arredondados */
}

.form p {
  margin: 15px 0 0;
  color: #f2f2f2;
  font-size: 12px;
}

.form input {
  font-family: "Roboto", cursive; /* Fonte retrô arcade */
  outline: 0;
  background: #1f1f1f;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  color: #ffffff; /* Cor do texto */
  border-radius: 5px; /* Cantos arredondados */
}

.form button {
  font-family: "Roboto", cursive; /* Fonte retrô arcade */
  text-transform: uppercase;
  outline: 0;
  background: #0dc0c0; /* Cor de destaque retro arcade */
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 5px; /* Cantos arredondados */
}

.form button a {
  text-decoration: none;
  color: #ffffff;
}

.form button:hover, .form button:active, .form button:focus {
  background: #a708c7; /* Cor de destaque alterada no hover */
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #e60000;
  text-decoration: none;
}



/* menu.html */

/* Player Bar Retro */
.player-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0c0c0c; /* Cor de fundo preta */
  padding: 30px; /* Aumentando o espaço interno */
  box-shadow: 0 0px 59px rgba(20, 180, 243, 0.404); /* Sombra mais forte */
  max-width: 1000px; /* Aumentando a largura máxima */
  width: 80%; /* Reduzindo um pouco a largura total */
  margin: auto;
  margin-top: 10%; /* Reduzindo a margem superior */
  margin-bottom: -5%;
  border-radius: 15px; /* Cantos arredondados */
  color: white;
}

.player-info {
  display: flex;
  align-items: center;
}

.profile-picture {
  width: 80px; /* Aumentando o tamanho da imagem */
  height: 80px;
  border-radius: 50%;
  background-color: #333; /* Cor de fundo mais escura */
  /* Adicione a imagem de perfil usando a propriedade 'background-image' ou uma tag 'img' */
}

.profile-name {
  margin-left: 20px; /* Aumentando o espaço entre a imagem e o nome */
  color: #FFF; /* Cor do texto branca */
  font-size: 20px; /* Aumentando o tamanho da fonte */
  font-family: 'Roboto', cursive; /* Fonte retrô */
}

.profile-stats {
 display: flex;
 justify-content: space-around;
 text-align: center;
 color: #FFF; /* Cor do texto branca */
}

.profile-stats div {
 margin: 0 15%; /* Reduzindo o espaço entre os elementos */
 font-size: 16px; /* Aumentando o tamanho da fonte */
}

.character-selection {
  text-align: center;
  margin-top: 20px; /* Aumentando a margem superior */
  margin-bottom: 10px;
  font-size: 20px;
}

.label-color {
  margin-bottom: 10px; /* Aumentando o espaço abaixo da label */
  color: #FFF; /* Cor do texto branca */
  font-size: 18px; /* Aumentando o tamanho da fonte */
  font-family: 'Roboto', cursive; /* Fonte retrô */
}

.color-options {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}

.color-option {
  width: 40px; /* Aumentando o tamanho das opções de cor */
  height: 40px;
  border-radius: 50%;
  margin-right: 10px; /* Aumentando o espaço entre as opções */
  cursor: pointer;
}

/* Game Menu */
.game-menu {
	margin-top: 10%;
	display: flex;
	flex-direction: column; /* Empilhar os botões verticalmente */
	align-items: center;
  }

  .button {
  display: flex;
	text-align: center;
  align-items: center;
  justify-content: center;
	width: 200px;
  height: 50px;
	margin-bottom: 15px; /* Espaço entre os botões */
	padding: 10px 20px;
	cursor: pointer;
	transition: background-color 0.3s ease; /* Efeito de transição para a mudança de cor */
	background-color: #0e7dd8; /* Cor padrão do botão Credits */
  border-radius: 10px; /* Cantos arredondados */
  box-shadow: 0 5px 40px rgba(20, 180, 243, 0.404);
  }


  .button:hover {
	background-color: #de0ee6; /* Cor de fundo ao passar o mouse */
	transform: scale(1.1); /* Aumenta a escala ao passar o mouse */
  }

  .game-menu a {
    text-decoration: none; /* Remove sublinhado e outras decorações de link */
    color: white; /* Herda a cor do texto padrão */
    font-weight: bolder;
}

/* Loading - Matchmaking */

body.loading-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.loading {
    text-align: center;
    color: #fff;
	position: relative;
}

.loading .bounce-ball {
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	animation: bounce 2s infinite;
}

.loading p {
	margin-top: 10%;
}

@keyframes bounce {
	0%, 100% {
		transform: translateX(100px);
	}
	50% {
		transform: translateX(-100px);
	}
}


#welcome {
  color:#FFF;
  font-size: 4em;
}

/* Leaderboard */

.leaderboard {
    background-color: #000000;
    color: #ffffff;
    width: 300px;
    border-radius: 15px;
    top: 20%;
	box-shadow: 0 0px 150px rgba(221, 7, 241, 0.795);
    text-align: left;
    display: inline-block;
    vertical-align: middle;
	margin-top: 10%;
}

.leaderboard h2 {
    padding: 15px 0;
    margin: 0;
    text-align: center;
}

.leaderboard p {
    margin: 3px 10px;
    text-align: right;
    color: #000000;
}

.leaderboard ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.leaderboard li {
    counter-increment: leaderboard-num;
    padding: 15px 50px;
    position: relative;
    transition-duration: .3s;
    
}

.leaderboard li::before {
    content: counter(leaderboard-num);
    display: block;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    background-color: white;
    color: #345;
    text-align: center;
    position: absolute;
    left: 15px;
}

.leaderboard li:nth-of-type(1) {
    background-color: #ffd900b0;
}

.leaderboard li:nth-of-type(2) {
    background-color: #c0c0c096;
}

.leaderboard li:nth-of-type(3) {
    background-color: #cd8032a9;
}

.leaderboard li:nth-of-type(4) {
    background-color: #87cfebc4;
}

.leaderboard li:nth-of-type(5) {
    background-color: #87cfebc4;
}

.leaderboard li:nth-of-type(6) {
    background-color: #87cfebc4;
}

.leaderboard .percent {
    position: absolute;
    right: 15px;
}

.leaderboard li:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px 5px #FFD700; /* Adicionando uma sombra amarela ao redor do item no hover */
}

.leaderboard:hover li:not(:hover) {
    opacity: .3;
}

.back-button {
	text-align: center;
	width: 150px;
	margin-bottom: 10px; /* Espaço entre os botões */
	padding: 10px 20px;
	cursor: pointer;
	background-color: #e7e7e7;
	margin-top: 5%;

}

/* Cadastro */
.instruction{
  color: white;
  margin-bottom: 50%;
  font-weight: bold;
  font-size: 2vh;
}

/* Geral */
a {
	text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

