@import url(https://fonts.googleapis.com/css?family=Roboto:300);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Geral */
a {
	text-decoration: none;
}

.chatTotal {
	display: flex;
	justify-content: space-around;
	background-color: #000000;
  width: 100%;
}

.chatSpace {
  flex-grow: 1;
	display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: flex-end;
	margin-right: 10px;
  height: 100vh;
  overflow: hidden;
}

.chatList{
	background-color: #585758;
	width: 25%;
	margin-left: 10px;
	padding: 1%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.chat-input {
  background-color: #345;
  border: none;
  padding: 10px;
  border-radius: 1px;
  flex-grow: 1;
  outline: none;
  color: #f2f2f2;
  font-size: 1rem;
 }

/* chat direita list */

.chatList-ul {
  list-style: none;
  padding: 0;
	align-items: stretch;
	margin-top: 1%;
	margin-bottom: 1%;
}

.chatList-ul button {
  margin: 1%;
	background: none;
	text-decoration: none;
	border: none;
	width: 100%;
	font-size: 18px;
	font-weight: bold;
  transition: background-color 0.3s; /* Adiciona uma transição suave */
	margin-top: 5%;
	margin-bottom: 5%;
}

.chatList-ul button:hover {
	background-color: #f2f2f2;
}

.active {
  background-color: #f2f2f2; /* Cor de fundo quando o botão está ativo */
}

.startChatBtn {
  background-color: #000000; /* Cor de fundo */
  color: white; /* Cor do texto */
  padding: 12px 24px; /* Espaçamento interno */
  border: none; /* Remove a borda */
  border-radius: 6px; /* Borda arredondada */
  cursor: pointer; /* Cursor do mouse */
  font-size: 16px; /* Tamanho da fonte */
  transition: background-color 0.3s; /* Transição suave da cor de fundo */
}
.startChatBtn:hover {
  background-color: #3f3d3d; /* Cor de fundo */
}


 /* inicio do codigo velho */
.chatform{
  background-color: #0a0a0a;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  /* width: 100%; */
  position: sticky;
  bottom:0;
 }

 .input-button {
  border: none;
  background: none;
  color: #f2f2f2;
  cursor: pointer;
 }

 .input->button > span {
  font-size: 1rem;
 }

.chatSpace > p {
  padding: 5px;
  width: 100%;
  max-width: 200px;
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 22px;
}

.messageSelf {
  background-color: #f2f2f2;
  color: #000;
  border-radius: 10px 10px 0 10px;
  align-self: flex-end;
}

.messageOthers {
  background-color: #333;
  color: #f2f2f2;
  border-radius: 0 10px 10px 10px;
  align-self: flex-start;
}


/* Caixa de novo chat */
.newChat {
  display: inline-block;
  background-color: #f2f2f2;
  border: 5px solid rgb(191, 63, 241);
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 50vh;
  border-radius: 10px;
  animation: pulse 2s infinite alternate;
}

.newChat h2 {
  margin-bottom: 5px;
}

.newChat form {
  display: flex;
  flex-direction: column;
}

.newChat label {
  margin-bottom: 5px;
}

.newChat input[type="text"] {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.newChat button {
  padding: 10px 20px;
  background-color: rgb(191, 63, 241);
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.newChat button:hover {
  background-color: #ff7f00;
}


.welcomeChat {
  display: inline-block;
  background-color: #f2f2f2;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 50vh;
  border-radius: 10px;
  animation: pulse 2s infinite alternate;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 40px 30px rgba(211, 16, 250, 0.8); /* Sombra inicial */
  }
  100% {
    box-shadow: 0 0 100px 30px rgba(211, 16, 250, 0.8); /* Sombra máxima */
  }
}