<div class="home">
    <h1 class="welcome">Welcome, {{ user.username }}</h1>

    <div class="home-container">
        <div class="home-actions">
            <button class="home-button" onclick="fetchHTML('main', 'pong/')">
                <img class="home-button-icon" src="static/images/pong.svg" alt="Pong" />
            </button>

            <button class="home-button" onclick="fetchHTML('main', 'friends/')">
                <img class="home-button-icon" src="static/images/friends.svg" alt="Friends" />
            </button>

            <button class="home-button" onclick="fetchHTML('main', 'user/profile/')">
                <img class="home-button-icon" src="static/images/profile.svg" alt="Profile" />
            </button>

            <button class="home-button" onclick="fetchHTML('main', 'user/logout/')">
                <img class="home-button-icon" src="static/images/logout.svg" alt="Logout" />
            </button>
        </div>

        <div class="home-activities">
            <div>
                <h2>Friends</h2>
                <div class="friends-status">
                    <!-- add friends status here -->
                    <span>No friends yet.</span>
                </div>
            </div>

            <div>
                <h2>Game History</h2>
                <div class="game-history">
                    <!-- add game history here -->
                    <span>No games played yet.</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- grid arcade -->
<div class="grid-bg-container">
    <div class="grid-bg"></div>
</div>
<div class="grid-layer0">
    <div class="grid-layer1">
        <div class="grid-layer">
            <div class="grid-lines">
                <div class="grid-light"></div>
            </div>
        </div>
    </div>
</div>
