<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ft_transcendence</title>
</head>

<body>
    <div id="app"></div>
</body>

<script>
    function render(url) {
        fetch(url)
            .then(response => response.text())
            .then(data => {
                document.getElementById("app").innerHTML = data;
            });
    }

    function handleForm(event) {
        event.preventDefault();

        const form = event.target;
        const data = new FormData(form);

        fetch(form.action, {
            method: form.method,
            body: data
        })
            .then(response => response.text())
            .then(data => {
                document.getElementById("app").innerHTML = data;
            });
    }

    window.onload = function () {
        render("{% url 'app' %}");
    };
</script>

</html>
